body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}
/* common */

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.logo { 
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-logo {
    padding: 24px 0 ;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42
}

.footer-logo .logo-part {
    color: #f4f4fd;
}


.nav-link {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
        display: block;
        padding: 24px 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current
 {
    color: #404bbf;
}


/* Section Soulutions */

.main-page-bg {
    max-width: 1440px;
    padding: 188px 0;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/solutions-bg/bg-laptops.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.main-site-color {
    color: #434455;
}

.main-title {
        max-width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin: 0 auto;
}

.ordering-button {
    color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        min-width: 169px;
        height: 56px;
        display: block;
        border: none;
        border-radius: 4px;
        margin: 0 auto;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.ordering-button:hover,
.ordering-button:focus {
    background-color: #404BBF;
}



/* END OF Section Solutions */

/* Principle page */

.principles-page {
    background-color: #fff;
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.icon-box {
    display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;  
}

.principles-list {
    display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
}

.principles-item {
    width: calc((100% - 72px) / 4);
}

.principles-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.principles-content {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* END OF prinicples section */


/* Our team section */
.team-page {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-page-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.teammates-list {
    display: flex;
        gap: 24px;
        list-style: none;
        padding: 0;
        margin: 0;
}

.team-member-shadow {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-member {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* SOCIAL MEDIA BLOCK */
.social-list-team {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    justify-content: center;
    margin-top: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf
}

.social-icon {
    fill: var(--icon-color, #f4f4fd);
}

.member-info {
    padding: 32px 0;
}

.teammate-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 8px;
        color: #2e2f42;
}

.member-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* END OF Team Section */


/* Our Portfolio */

.portfolio-page {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-page-title {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio-element {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-element:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-element:hover .img-overlay {
    transform: translateY(0%);
}

.portfolio-box {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.img-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud, #f4f4fd);
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-asset {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-description {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* END OF Portfolio section */

/* Footer section */
.page-footer {
    background-color:#2e2f42;
    padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
}

.footer-main {
    margin-right: 120px;
}


.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white, #ffffff);
    margin-bottom: 16px;
}

.social-icon {
    fill: var(--icon-color, #f4f4fd);
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: var(--brand, #4d5ae5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #31d0aa;
}

/* END OF footer */